<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>AE_.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aadeva</key>
	<string>aadeva.glif</string>
	<key>abbreviationsigndeva</key>
	<string>abbreviationsigndeva.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>adeva</key>
	<string>adeva.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>aideva</key>
	<string>aideva.glif</string>
	<key>aivowelsigndeva</key>
	<string>aivowelsigndeva.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>anudattadeva</key>
	<string>anudattadeva.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>audeva</key>
	<string>audeva.glif</string>
	<key>avagrahadeva</key>
	<string>avagrahadeva.glif</string>
	<key>dash</key>
	<string>dash.glif</string>
	<key>ddhadeva</key>
	<string>ddhadeva.glif</string>
	<key>ddhadeva_viramadeva_ddhadeva</key>
	<string>ddhadeva_viramadeva_ddhadeva.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>uni0921094D092F</key>
	<string>uni0921094D092F_.glif</string>
	<key>uni0922094D0922094D092F</key>
	<string>uni0922094D0922094D092F_.glif</string>
	<key>uni0926094D092D0941</key>
	<string>uni0926094D092D0941_.glif</string>
</dict>
</plist>
