<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>.null</key>
	<string>_null.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>AE_.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>Abreve</key>
	<string>Abreve_.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex_.glif</string>
	<key>Adieresis</key>
	<string>Adieresis_.glif</string>
	<key>Agrave</key>
	<string>Agrave_.glif</string>
	<key>Amacron</key>
	<string>Amacron_.glif</string>
	<key>Aogonek</key>
	<string>Aogonek_.glif</string>
	<key>Aring</key>
	<string>Aring_.glif</string>
	<key>Atilde</key>
	<string>Atilde_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>CR_.glif</string>
	<key>Cacute</key>
	<string>Cacute_.glif</string>
	<key>Ccaron</key>
	<string>Ccaron_.glif</string>
	<key>Ccedilla</key>
	<string>Ccedilla_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>Dcaron_.glif</string>
	<key>Dcroat</key>
	<string>Dcroat_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>Eacute_.glif</string>
	<key>Ecaron</key>
	<string>Ecaron_.glif</string>
	<key>Ecircumflex</key>
	<string>Ecircumflex_.glif</string>
	<key>Edieresis</key>
	<string>Edieresis_.glif</string>
	<key>Edotaccent</key>
	<string>Edotaccent_.glif</string>
	<key>Egrave</key>
	<string>Egrave_.glif</string>
	<key>Emacron</key>
	<string>Emacron_.glif</string>
	<key>Eogonek</key>
	<string>Eogonek_.glif</string>
	<key>Eth</key>
	<string>Eth_.glif</string>
	<key>Euro</key>
	<string>Euro_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gbreve</key>
	<string>Gbreve_.glif</string>
	<key>Gcommaaccent</key>
	<string>Gcommaaccent_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>Iacute_.glif</string>
	<key>Icircumflex</key>
	<string>Icircumflex_.glif</string>
	<key>Idieresis</key>
	<string>Idieresis_.glif</string>
	<key>Idotaccent</key>
	<string>Idotaccent_.glif</string>
	<key>Igrave</key>
	<string>Igrave_.glif</string>
	<key>Imacron</key>
	<string>Imacron_.glif</string>
	<key>Iogonek</key>
	<string>Iogonek_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kcommaaccent</key>
	<string>Kcommaaccent_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>Lacute_.glif</string>
	<key>Lcaron</key>
	<string>Lcaron_.glif</string>
	<key>Lcommaaccent</key>
	<string>Lcommaaccent_.glif</string>
	<key>Lslash</key>
	<string>Lslash_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Nacute</key>
	<string>Nacute_.glif</string>
	<key>Ncaron</key>
	<string>Ncaron_.glif</string>
	<key>Ncommaaccent</key>
	<string>Ncommaaccent_.glif</string>
	<key>Ntilde</key>
	<string>Ntilde_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>OE_.glif</string>
	<key>Oacute</key>
	<string>Oacute_.glif</string>
	<key>Ocircumflex</key>
	<string>Ocircumflex_.glif</string>
	<key>Odieresis</key>
	<string>Odieresis_.glif</string>
	<key>Ograve</key>
	<string>Ograve_.glif</string>
	<key>Ohm</key>
	<string>Ohm_.glif</string>
	<key>Ohungarumlaut</key>
	<string>Ohungarumlaut_.glif</string>
	<key>Omacron</key>
	<string>Omacron_.glif</string>
	<key>Oslash</key>
	<string>Oslash_.glif</string>
	<key>Otilde</key>
	<string>Otilde_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>Racute_.glif</string>
	<key>Rcaron</key>
	<string>Rcaron_.glif</string>
	<key>Rcommaaccent</key>
	<string>Rcommaaccent_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>Sacute_.glif</string>
	<key>Scaron</key>
	<string>Scaron_.glif</string>
	<key>Scedilla</key>
	<string>Scedilla_.glif</string>
	<key>Scommaaccent</key>
	<string>Scommaaccent_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tcaron</key>
	<string>Tcaron_.glif</string>
	<key>Thorn</key>
	<string>Thorn_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>Uacute_.glif</string>
	<key>Ucircumflex</key>
	<string>Ucircumflex_.glif</string>
	<key>Udieresis</key>
	<string>Udieresis_.glif</string>
	<key>Ugrave</key>
	<string>Ugrave_.glif</string>
	<key>Uhungarumlaut</key>
	<string>Uhungarumlaut_.glif</string>
	<key>Umacron</key>
	<string>Umacron_.glif</string>
	<key>Uogonek</key>
	<string>Uogonek_.glif</string>
	<key>Uring</key>
	<string>Uring_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Yacute_.glif</string>
	<key>Ydieresis</key>
	<string>Ydieresis_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Zacute_.glif</string>
	<key>Zcaron</key>
	<string>Zcaron_.glif</string>
	<key>Zdotaccent</key>
	<string>Zdotaccent_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>abbreviationsigndeva</key>
	<string>abbreviationsigndeva.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acutedeva</key>
	<string>acutedeva.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>aideva</key>
	<string>aideva.glif</string>
	<key>aivowelsigndeva</key>
	<string>aivowelsigndeva.glif</string>
	<key>aivowelsigndeva_anusvaradeva</key>
	<string>aivowelsigndeva_anusvaradeva.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>anudattadeva</key>
	<string>anudattadeva.glif</string>
	<key>anusvaradeva</key>
	<string>anusvaradeva.glif</string>
	<key>anusvaradeva.001</key>
	<string>anusvaradeva.001.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>auMatra_reph_anusvaradeva</key>
	<string>auMatra__reph_anusvaradeva.glif</string>
	<key>auMatra_rephdeva</key>
	<string>auMatra__rephdeva.glif</string>
	<key>audeva</key>
	<string>audeva.glif</string>
	<key>avagrahadeva</key>
	<string>avagrahadeva.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>bhadeva_viramadeva</key>
	<string>bhadeva_viramadeva.glif</string>
	<key>bhadeva_viramadeva_radeva</key>
	<string>bhadeva_viramadeva_radeva.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>bulletoperator</key>
	<string>bulletoperator.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>cadeva_viramadeva</key>
	<string>cadeva_viramadeva.glif</string>
	<key>cadeva_viramadeva_radeva</key>
	<string>cadeva_viramadeva_radeva.glif</string>
	<key>candrabindudeva</key>
	<string>candrabindudeva.glif</string>
	<key>candrabindudeva.imatra</key>
	<string>candrabindudeva.imatra.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>chadeva_viramadeva</key>
	<string>chadeva_viramadeva.glif</string>
	<key>chadeva_viramadeva_nadeva</key>
	<string>chadeva_viramadeva_nadeva.glif</string>
	<key>chadeva_viramadeva_vadeva</key>
	<string>chadeva_viramadeva_vadeva.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dadeva_uuvowelsigndeva</key>
	<string>dadeva_uuvowelsigndeva.glif</string>
	<key>dadeva_uvowelsigndeva</key>
	<string>dadeva_uvowelsigndeva.glif</string>
	<key>dadeva_viramadeva_bhadeva</key>
	<string>dadeva_viramadeva_bhadeva.glif</string>
	<key>dadeva_viramadeva_dadeva</key>
	<string>dadeva_viramadeva_dadeva.glif</string>
	<key>dadeva_viramadeva_dhadeva</key>
	<string>dadeva_viramadeva_dhadeva.glif</string>
	<key>dadeva_viramadeva_gadeva</key>
	<string>dadeva_viramadeva_gadeva.glif</string>
	<key>dadeva_viramadeva_ghadeva</key>
	<string>dadeva_viramadeva_ghadeva.glif</string>
	<key>dadeva_viramadeva_madeva</key>
	<string>dadeva_viramadeva_madeva.glif</string>
	<key>dadeva_viramadeva_nadeva</key>
	<string>dadeva_viramadeva_nadeva.glif</string>
	<key>dadeva_viramadeva_radeva</key>
	<string>dadeva_viramadeva_radeva.glif</string>
	<key>dadeva_viramadeva_vadeva</key>
	<string>dadeva_viramadeva_vadeva.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>danda</key>
	<string>danda.glif</string>
	<key>dash</key>
	<string>dash.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>ddadeva_viramadeva_ddadeva</key>
	<string>ddadeva_viramadeva_ddadeva.glif</string>
	<key>ddadeva_viramadeva_ddhadeva</key>
	<string>ddadeva_viramadeva_ddhadeva.glif</string>
	<key>ddadeva_viramadeva_ghadeva</key>
	<string>ddadeva_viramadeva_ghadeva.glif</string>
	<key>ddadeva_viramadeva_madeva</key>
	<string>ddadeva_viramadeva_madeva.glif</string>
	<key>ddadeva_viramadeva_nadeva</key>
	<string>ddadeva_viramadeva_nadeva.glif</string>
	<key>ddadeva_viramadeva_ttadeva</key>
	<string>ddadeva_viramadeva_ttadeva.glif</string>
	<key>dddhadeva</key>
	<string>dddhadeva.glif</string>
	<key>ddhadeva_viramadeva_ddhadeva</key>
	<string>ddhadeva_viramadeva_ddhadeva.glif</string>
	<key>ddhadeva_viramadeva_nadeva</key>
	<string>ddhadeva_viramadeva_nadeva.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dhadeva_viramadeva_radeva</key>
	<string>dhadeva_viramadeva_radeva.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>divisionslash</key>
	<string>divisionslash.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>dottedcircle</key>
	<string>dottedcircle.glif</string>
	<key>doubledanda</key>
	<string>doubledanda.glif</string>
	<key>dvA</key>
	<string>dvA_.glif</string>
	<key>dvAA</key>
	<string>dvAA_.glif</string>
	<key>dvAI</key>
	<string>dvAI_.glif</string>
	<key>dvAU</key>
	<string>dvAU_.glif</string>
	<key>dvB</key>
	<string>dvB_.glif</string>
	<key>dvBA</key>
	<string>dvBA_.glif</string>
	<key>dvBH</key>
	<string>dvBH_.glif</string>
	<key>dvBHA</key>
	<string>dvBHA_.glif</string>
	<key>dvC</key>
	<string>dvC_.glif</string>
	<key>dvCA</key>
	<string>dvCA_.glif</string>
	<key>dvCH</key>
	<string>dvCH_.glif</string>
	<key>dvCHA</key>
	<string>dvCHA_.glif</string>
	<key>dvC_RA</key>
	<string>dvC__RA_.glif</string>
	<key>dvDA</key>
	<string>dvDA_.glif</string>
	<key>dvDDA</key>
	<string>dvDDA_.glif</string>
	<key>dvDDHA</key>
	<string>dvDDHA_.glif</string>
	<key>dvDH</key>
	<string>dvDH_.glif</string>
	<key>dvDH.add_1</key>
	<string>dvDH_.add_1.glif</string>
	<key>dvDHA</key>
	<string>dvDHA_.glif</string>
	<key>dvE</key>
	<string>dvE_.glif</string>
	<key>dvEcandra</key>
	<string>dvEcandra_.glif</string>
	<key>dvEight</key>
	<string>dvEight_.glif</string>
	<key>dvFive</key>
	<string>dvFive_.glif</string>
	<key>dvFour</key>
	<string>dvFour_.glif</string>
	<key>dvG</key>
	<string>dvG_.glif</string>
	<key>dvGA</key>
	<string>dvGA_.glif</string>
	<key>dvGH</key>
	<string>dvGH_.glif</string>
	<key>dvGHA</key>
	<string>dvGHA_.glif</string>
	<key>dvGH_RA</key>
	<string>dvGH__RA_.glif</string>
	<key>dvG_RA</key>
	<string>dvG__RA_.glif</string>
	<key>dvHA</key>
	<string>dvHA_.glif</string>
	<key>dvI</key>
	<string>dvI_.glif</string>
	<key>dvII</key>
	<string>dvII_.glif</string>
	<key>dvJ</key>
	<string>dvJ_.glif</string>
	<key>dvJA</key>
	<string>dvJA_.glif</string>
	<key>dvJH</key>
	<string>dvJH_.glif</string>
	<key>dvJHA</key>
	<string>dvJHA_.glif</string>
	<key>dvJ_NY</key>
	<string>dvJ__NY_.glif</string>
	<key>dvJ_NYA</key>
	<string>dvJ__NYA_.glif</string>
	<key>dvK</key>
	<string>dvK_.glif</string>
	<key>dvKA</key>
	<string>dvKA_.glif</string>
	<key>dvKH</key>
	<string>dvKH_.glif</string>
	<key>dvKH_R</key>
	<string>dvKH__R_.glif</string>
	<key>dvKH_RA</key>
	<string>dvKH__RA_.glif</string>
	<key>dvK_R</key>
	<string>dvK__R_.glif</string>
	<key>dvK_RA</key>
	<string>dvK__RA_.glif</string>
	<key>dvK_SSA</key>
	<string>dvK__SSA_.glif</string>
	<key>dvL</key>
	<string>dvL_.glif</string>
	<key>dvLA</key>
	<string>dvLA_.glif</string>
	<key>dvLL</key>
	<string>dvLL_.glif</string>
	<key>dvLLA</key>
	<string>dvLLA_.glif</string>
	<key>dvM</key>
	<string>dvM_.glif</string>
	<key>dvMA</key>
	<string>dvMA_.glif</string>
	<key>dvN</key>
	<string>dvN_.glif</string>
	<key>dvNA</key>
	<string>dvNA_.glif</string>
	<key>dvNGA</key>
	<string>dvNGA_.glif</string>
	<key>dvNG_RA</key>
	<string>dvNG__RA_.glif</string>
	<key>dvNN</key>
	<string>dvNN_.glif</string>
	<key>dvNNA</key>
	<string>dvNNA_.glif</string>
	<key>dvNY</key>
	<string>dvNY_.glif</string>
	<key>dvNYA</key>
	<string>dvNYA_.glif</string>
	<key>dvNine</key>
	<string>dvNine_.glif</string>
	<key>dvNukta</key>
	<string>dvNukta_.glif</string>
	<key>dvO</key>
	<string>dvO_.glif</string>
	<key>dvOcandra</key>
	<string>dvOcandra_.glif</string>
	<key>dvOne</key>
	<string>dvOne_.glif</string>
	<key>dvP</key>
	<string>dvP_.glif</string>
	<key>dvPA</key>
	<string>dvPA_.glif</string>
	<key>dvPH</key>
	<string>dvPH_.glif</string>
	<key>dvPHA</key>
	<string>dvPHA_.glif</string>
	<key>dvRA</key>
	<string>dvRA_.glif</string>
	<key>dvRashtrasign</key>
	<string>dvRashtrasign_.glif</string>
	<key>dvReph</key>
	<string>dvReph_.glif</string>
	<key>dvS</key>
	<string>dvS_.glif</string>
	<key>dvSA</key>
	<string>dvSA_.glif</string>
	<key>dvSH</key>
	<string>dvSH_.glif</string>
	<key>dvSHA</key>
	<string>dvSHA_.glif</string>
	<key>dvSS</key>
	<string>dvSS_.glif</string>
	<key>dvSSA</key>
	<string>dvSSA_.glif</string>
	<key>dvSeven</key>
	<string>dvSeven_.glif</string>
	<key>dvSix</key>
	<string>dvSix_.glif</string>
	<key>dvT</key>
	<string>dvT_.glif</string>
	<key>dvTA</key>
	<string>dvTA_.glif</string>
	<key>dvTH</key>
	<string>dvTH_.glif</string>
	<key>dvTHA</key>
	<string>dvTHA_.glif</string>
	<key>dvTTA</key>
	<string>dvTTA_.glif</string>
	<key>dvTTHA</key>
	<string>dvTTHA_.glif</string>
	<key>dvThree</key>
	<string>dvThree_.glif</string>
	<key>dvTwo</key>
	<string>dvTwo_.glif</string>
	<key>dvU</key>
	<string>dvU_.glif</string>
	<key>dvUU</key>
	<string>dvUU_.glif</string>
	<key>dvV</key>
	<string>dvV_.glif</string>
	<key>dvVA</key>
	<string>dvVA_.glif</string>
	<key>dvVisarga</key>
	<string>dvVisarga_.glif</string>
	<key>dvY</key>
	<string>dvY_.glif</string>
	<key>dvYA</key>
	<string>dvYA_.glif</string>
	<key>dvZero</key>
	<string>dvZero_.glif</string>
	<key>dvmAA</key>
	<string>dvmAA_.glif</string>
	<key>dvmAI</key>
	<string>dvmAI_.glif</string>
	<key>dvmAU</key>
	<string>dvmAU_.glif</string>
	<key>dvmE</key>
	<string>dvmE_.glif</string>
	<key>dvmEcandra</key>
	<string>dvmEcandra_.glif</string>
	<key>dvmEcandra,</key>
	<string>dvmEcandra,_.glif</string>
	<key>dvmI</key>
	<string>dvmI_.glif</string>
	<key>dvmII</key>
	<string>dvmII_.glif</string>
	<key>dvmII,</key>
	<string>dvmII,_.glif</string>
	<key>dvmO,</key>
	<string>dvmO,_.glif</string>
	<key>dvmOcandra,</key>
	<string>dvmOcandra,_.glif</string>
	<key>dvmU</key>
	<string>dvmU_.glif</string>
	<key>dvmUU</key>
	<string>dvmUU_.glif</string>
	<key>dvmvR</key>
	<string>dvmvR_.glif</string>
	<key>dvvL</key>
	<string>dvvL_.glif</string>
	<key>dvvLL</key>
	<string>dvvLL_.glif</string>
	<key>dvvR</key>
	<string>dvvR_.glif</string>
	<key>dvvRR</key>
	<string>dvvRR_.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eightdeva.loclNEP</key>
	<string>eightdeva.loclNEP_.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>eshortvowelsigndeva</key>
	<string>eshortvowelsigndeva.glif</string>
	<key>estimated</key>
	<string>estimated.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>evowelsigndeva_anusvaradeva</key>
	<string>evowelsigndeva_anusvaradeva.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fadeva</key>
	<string>fadeva.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>figuredash</key>
	<string>figuredash.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>fivedeva.loclNEP</key>
	<string>fivedeva.loclNEP_.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gadeva_viramadeva</key>
	<string>gadeva_viramadeva.glif</string>
	<key>gadeva_viramadeva_nadeva</key>
	<string>gadeva_viramadeva_nadeva.glif</string>
	<key>gadeva_viramadeva_radeva</key>
	<string>gadeva_viramadeva_radeva.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gcommaaccent</key>
	<string>gcommaaccent.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>ghadeva_viramadeva</key>
	<string>ghadeva_viramadeva.glif</string>
	<key>ghadeva_viramadeva_nadeva</key>
	<string>ghadeva_viramadeva_nadeva.glif</string>
	<key>ghadeva_viramadeva_radeva</key>
	<string>ghadeva_viramadeva_radeva.glif</string>
	<key>ghhadeva</key>
	<string>ghhadeva.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>gravedeva</key>
	<string>gravedeva.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hadeva_rvocalicvowelsigndeva</key>
	<string>hadeva_rvocalicvowelsigndeva.glif</string>
	<key>hadeva_uuvowelsigndeva</key>
	<string>hadeva_uuvowelsigndeva.glif</string>
	<key>hadeva_uvowelsigndeva</key>
	<string>hadeva_uvowelsigndeva.glif</string>
	<key>hadeva_viramadeva</key>
	<string>hadeva_viramadeva.glif</string>
	<key>hadeva_viramadeva_madeva</key>
	<string>hadeva_viramadeva_madeva.glif</string>
	<key>hadeva_viramadeva_nadeva</key>
	<string>hadeva_viramadeva_nadeva.glif</string>
	<key>hadeva_viramadeva_nnadeva</key>
	<string>hadeva_viramadeva_nnadeva.glif</string>
	<key>hadeva_viramadeva_radeva</key>
	<string>hadeva_viramadeva_radeva.glif</string>
	<key>hadeva_viramadeva_vadeva</key>
	<string>hadeva_viramadeva_vadeva.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>iiMatra_reph_anusvaradeva</key>
	<string>iiMatra__reph_anusvaradeva.glif</string>
	<key>iiMatra_reph_anusvaradeva.02</key>
	<string>iiMatra__reph_anusvaradeva.02.glif</string>
	<key>iiMatra_rephdeva</key>
	<string>iiMatra__rephdeva.glif</string>
	<key>iiMatra_rephdeva.02</key>
	<string>iiMatra__rephdeva.02.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>increment</key>
	<string>increment.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>jadeva_viramadeva</key>
	<string>jadeva_viramadeva.glif</string>
	<key>jadeva_viramadeva_nyadeva</key>
	<string>jadeva_viramadeva_nyadeva.glif</string>
	<key>jadeva_viramadeva_radeva</key>
	<string>jadeva_viramadeva_radeva.glif</string>
	<key>jhadeva.loclNEP</key>
	<string>jhadeva.loclNEP_.glif</string>
	<key>jhadeva_uvowelsigndeva</key>
	<string>jhadeva_uvowelsigndeva.glif</string>
	<key>jhadeva_viramadeva</key>
	<string>jhadeva_viramadeva.glif</string>
	<key>jhadeva_viramadeva.loclNEP</key>
	<string>jhadeva_viramadeva.loclNEP_.glif</string>
	<key>jhadeva_viramadeva_radeva</key>
	<string>jhadeva_viramadeva_radeva.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kadeva_viramadeva_radeva</key>
	<string>kadeva_viramadeva_radeva.glif</string>
	<key>kadeva_viramadeva_radeva.loclNEP</key>
	<string>kadeva_viramadeva_radeva.loclNEP_.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>khadeva_viramadeva</key>
	<string>khadeva_viramadeva.glif</string>
	<key>khadeva_viramadeva_nadeva</key>
	<string>khadeva_viramadeva_nadeva.glif</string>
	<key>khadeva_viramadeva_radeva</key>
	<string>khadeva_viramadeva_radeva.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>lcommaaccent</key>
	<string>lcommaaccent.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>lladeva_viramadeva</key>
	<string>lladeva_viramadeva.glif</string>
	<key>llladeva</key>
	<string>llladeva.glif</string>
	<key>llvocalicvowelsigndeva</key>
	<string>llvocalicvowelsigndeva.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>longbow</key>
	<string>longbow.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>lvocalicvowelsigndeva</key>
	<string>lvocalicvowelsigndeva.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>madeva_viramadeva</key>
	<string>madeva_viramadeva.glif</string>
	<key>madeva_viramadeva_radeva</key>
	<string>madeva_viramadeva_radeva.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>nadeva_viramadeva</key>
	<string>nadeva_viramadeva.glif</string>
	<key>nadeva_viramadeva_bhadeva</key>
	<string>nadeva_viramadeva_bhadeva.glif</string>
	<key>nadeva_viramadeva_madeva</key>
	<string>nadeva_viramadeva_madeva.glif</string>
	<key>nadeva_viramadeva_nadeva</key>
	<string>nadeva_viramadeva_nadeva.glif</string>
	<key>nadeva_viramadeva_radeva</key>
	<string>nadeva_viramadeva_radeva.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>ngadeva_viramadeva_gadeva</key>
	<string>ngadeva_viramadeva_gadeva.glif</string>
	<key>ngadeva_viramadeva_ghadeva</key>
	<string>ngadeva_viramadeva_ghadeva.glif</string>
	<key>ngadeva_viramadeva_kadeva</key>
	<string>ngadeva_viramadeva_kadeva.glif</string>
	<key>ngadeva_viramadeva_khadeva</key>
	<string>ngadeva_viramadeva_khadeva.glif</string>
	<key>ngadeva_viramadeva_madeva</key>
	<string>ngadeva_viramadeva_madeva.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nnadeva_viramadeva</key>
	<string>nnadeva_viramadeva.glif</string>
	<key>nnadeva_viramadeva_radeva</key>
	<string>nnadeva_viramadeva_radeva.glif</string>
	<key>nnnadeva</key>
	<string>nnnadeva.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>nyadeva_viramadeva</key>
	<string>nyadeva_viramadeva.glif</string>
	<key>nyadeva_viramadeva_cadeva</key>
	<string>nyadeva_viramadeva_cadeva.glif</string>
	<key>nyadeva_viramadeva_jadeva</key>
	<string>nyadeva_viramadeva_jadeva.glif</string>
	<key>nyadeva_viramadeva_radeva</key>
	<string>nyadeva_viramadeva_radeva.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oMatra_anusvaradeva</key>
	<string>oMatra__anusvaradeva.glif</string>
	<key>oMatra_reph_anusvaradeva</key>
	<string>oMatra__reph_anusvaradeva.glif</string>
	<key>oMatra_rephdeva</key>
	<string>oMatra__rephdeva.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocandravowelsigndeva</key>
	<string>ocandravowelsigndeva.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>omdeva</key>
	<string>omdeva.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oshortdeva</key>
	<string>oshortdeva.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>ovowelsigndeva</key>
	<string>ovowelsigndeva.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>padeva_viramadeva</key>
	<string>padeva_viramadeva.glif</string>
	<key>padeva_viramadeva_jhadeva</key>
	<string>padeva_viramadeva_jhadeva.glif</string>
	<key>padeva_viramadeva_radeva</key>
	<string>padeva_viramadeva_radeva.glif</string>
	<key>padeva_viramadeva_ttadeva</key>
	<string>padeva_viramadeva_ttadeva.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>radeva_uuvowelsigndeva</key>
	<string>radeva_uuvowelsigndeva.glif</string>
	<key>radeva_uvowelsigndeva</key>
	<string>radeva_uvowelsigndeva.glif</string>
	<key>radeva_viramadeva</key>
	<string>radeva_viramadeva.glif</string>
	<key>radeva_viramadeva.loclMAR</key>
	<string>radeva_viramadeva.loclMAR_.glif</string>
	<key>radeva_viramadeva_anusvaradeva</key>
	<string>radeva_viramadeva_anusvaradeva.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>rhadeva</key>
	<string>rhadeva.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>rradeva</key>
	<string>rradeva.glif</string>
	<key>rradeva_viramadeva</key>
	<string>rradeva_viramadeva.glif</string>
	<key>rrvocalicvowelsigndeva</key>
	<string>rrvocalicvowelsigndeva.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>sadeva_viramadeva</key>
	<string>sadeva_viramadeva.glif</string>
	<key>sadeva_viramadeva_radeva</key>
	<string>sadeva_viramadeva_radeva.glif</string>
	<key>sadeva_viramadeva_thadeva</key>
	<string>sadeva_viramadeva_thadeva.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>scommaaccent</key>
	<string>scommaaccent.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>shadeva.loclMAR</key>
	<string>shadeva.loclMAR_.glif</string>
	<key>shadeva_viramadeva</key>
	<string>shadeva_viramadeva.glif</string>
	<key>shadeva_viramadeva.loclMAR</key>
	<string>shadeva_viramadeva.loclMAR_.glif</string>
	<key>shadeva_viramadeva_cadeva</key>
	<string>shadeva_viramadeva_cadeva.glif</string>
	<key>shadeva_viramadeva_nadeva</key>
	<string>shadeva_viramadeva_nadeva.glif</string>
	<key>shadeva_viramadeva_radeva</key>
	<string>shadeva_viramadeva_radeva.glif</string>
	<key>shadeva_viramadeva_vadeva</key>
	<string>shadeva_viramadeva_vadeva.glif</string>
	<key>shortbow</key>
	<string>shortbow.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>softhyphen</key>
	<string>softhyphen.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>spacedeva</key>
	<string>spacedeva.glif</string>
	<key>ssadeva_viramadeva</key>
	<string>ssadeva_viramadeva.glif</string>
	<key>ssadeva_viramadeva_radeva</key>
	<string>ssadeva_viramadeva_radeva.glif</string>
	<key>ssadeva_viramadeva_ttadeva</key>
	<string>ssadeva_viramadeva_ttadeva.glif</string>
	<key>ssadeva_viramadeva_tthadeva</key>
	<string>ssadeva_viramadeva_tthadeva.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tadeva_viramadeva</key>
	<string>tadeva_viramadeva.glif</string>
	<key>tadeva_viramadeva_radeva</key>
	<string>tadeva_viramadeva_radeva.glif</string>
	<key>tadeva_viramadeva_tadeva</key>
	<string>tadeva_viramadeva_tadeva.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>thadeva_viramadeva</key>
	<string>thadeva_viramadeva.glif</string>
	<key>thadeva_viramadeva_radeva</key>
	<string>thadeva_viramadeva_radeva.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>ttadeva_viramadeva_ddhadeva</key>
	<string>ttadeva_viramadeva_ddhadeva.glif</string>
	<key>ttadeva_viramadeva_nadeva</key>
	<string>ttadeva_viramadeva_nadeva.glif</string>
	<key>ttadeva_viramadeva_ttadeva</key>
	<string>ttadeva_viramadeva_ttadeva.glif</string>
	<key>ttadeva_viramadeva_tthadeva</key>
	<string>ttadeva_viramadeva_tthadeva.glif</string>
	<key>ttadeva_viramadeva_vadeva</key>
	<string>ttadeva_viramadeva_vadeva.glif</string>
	<key>tthadeva_viramadeva_nadeva</key>
	<string>tthadeva_viramadeva_nadeva.glif</string>
	<key>tthadeva_viramadeva_tthadeva</key>
	<string>tthadeva_viramadeva_tthadeva.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udattadeva</key>
	<string>udattadeva.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni00A0</key>
	<string>uni00A0_.glif</string>
	<key>uni00B5</key>
	<string>uni00B5_.glif</string>
	<key>uni021A</key>
	<string>uni021A_.glif</string>
	<key>uni021B</key>
	<string>uni021B_.glif</string>
	<key>uni0904</key>
	<string>uni0904.glif</string>
	<key>uni0915094D0924094D0924</key>
	<string>uni0915094D0924094D0924_.glif</string>
	<key>uni0915094D0937094D</key>
	<string>uni0915094D0937094D_.glif</string>
	<key>uni0915094D0937094D092E</key>
	<string>uni0915094D0937094D092E_.glif</string>
	<key>uni0915094D0937094D092F</key>
	<string>uni0915094D0937094D092F_.glif</string>
	<key>uni0915094D0937094D0930</key>
	<string>uni0915094D0937094D0930_.glif</string>
	<key>uni0917094D0928094D</key>
	<string>uni0917094D0928094D_.glif</string>
	<key>uni0917094D0930094D</key>
	<string>uni0917094D0930094D_.glif</string>
	<key>uni0917094D0930094D092F</key>
	<string>uni0917094D0930094D092F_.glif</string>
	<key>uni0918094D0930094D</key>
	<string>uni0918094D0930094D_.glif</string>
	<key>uni0919094D0915094D0924094D0924</key>
	<string>uni0919094D0915094D0924094D0924_.glif</string>
	<key>uni0919094D0915094D0930</key>
	<string>uni0919094D0915094D0930_.glif</string>
	<key>uni0919094D0915094D0937</key>
	<string>uni0919094D0915094D0937_.glif</string>
	<key>uni0919094D0917094D0930</key>
	<string>uni0919094D0917094D0930_.glif</string>
	<key>uni0919094D0918094D0930</key>
	<string>uni0919094D0918094D0930_.glif</string>
	<key>uni091C094D091E094D</key>
	<string>uni091C094D091E094D_.glif</string>
	<key>uni091C094D091E094D0930</key>
	<string>uni091C094D091E094D0930_.glif</string>
	<key>uni091C094D0930094D</key>
	<string>uni091C094D0930094D_.glif</string>
	<key>uni091F094D091F094D092F</key>
	<string>uni091F094D091F094D092F_.glif</string>
	<key>uni091F094D092F</key>
	<string>uni091F094D092F_.glif</string>
	<key>uni0920094D0920094D092F</key>
	<string>uni0920094D0920094D092F_.glif</string>
	<key>uni0920094D092F</key>
	<string>uni0920094D092F_.glif</string>
	<key>uni0921094D0921094D092F</key>
	<string>uni0921094D0921094D092F_.glif</string>
	<key>uni0921094D092F</key>
	<string>uni0921094D092F_.glif</string>
	<key>uni0922094D0922094D092F</key>
	<string>uni0922094D0922094D092F_.glif</string>
	<key>uni0922094D092F</key>
	<string>uni0922094D092F_.glif</string>
	<key>uni0924094D0924094D</key>
	<string>uni0924094D0924094D_.glif</string>
	<key>uni0924094D0930094D</key>
	<string>uni0924094D0930094D_.glif</string>
	<key>uni0926094D09170941</key>
	<string>uni0926094D09170941_.glif</string>
	<key>uni0926094D09170942</key>
	<string>uni0926094D09170942_.glif</string>
	<key>uni0926094D0917094D0930</key>
	<string>uni0926094D0917094D0930_.glif</string>
	<key>uni0926094D09180941</key>
	<string>uni0926094D09180941_.glif</string>
	<key>uni0926094D09180942</key>
	<string>uni0926094D09180942_.glif</string>
	<key>uni0926094D0918094D092F</key>
	<string>uni0926094D0918094D092F_.glif</string>
	<key>uni0926094D09260941</key>
	<string>uni0926094D09260941_.glif</string>
	<key>uni0926094D09260942</key>
	<string>uni0926094D09260942_.glif</string>
	<key>uni0926094D0926094D092F</key>
	<string>uni0926094D0926094D092F_.glif</string>
	<key>uni0926094D09270941</key>
	<string>uni0926094D09270941_.glif</string>
	<key>uni0926094D09270942</key>
	<string>uni0926094D09270942_.glif</string>
	<key>uni0926094D0927094D092F</key>
	<string>uni0926094D0927094D092F_.glif</string>
	<key>uni0926094D0927094D0930094D092F</key>
	<string>uni0926094D0927094D0930094D092F_.glif</string>
	<key>uni0926094D09280941</key>
	<string>uni0926094D09280941_.glif</string>
	<key>uni0926094D09280942</key>
	<string>uni0926094D09280942_.glif</string>
	<key>uni0926094D092C</key>
	<string>uni0926094D092C_.glif</string>
	<key>uni0926094D092C0941</key>
	<string>uni0926094D092C0941_.glif</string>
	<key>uni0926094D092C0942</key>
	<string>uni0926094D092C0942_.glif</string>
	<key>uni0926094D092C094D0930</key>
	<string>uni0926094D092C094D0930_.glif</string>
	<key>uni0926094D092D0941</key>
	<string>uni0926094D092D0941_.glif</string>
	<key>uni0926094D092D0942</key>
	<string>uni0926094D092D0942_.glif</string>
	<key>uni0926094D092D094D092F</key>
	<string>uni0926094D092D094D092F_.glif</string>
	<key>uni0926094D092F</key>
	<string>uni0926094D092F_.glif</string>
	<key>uni0926094D09300941</key>
	<string>uni0926094D09300941_.glif</string>
	<key>uni0926094D09300942</key>
	<string>uni0926094D09300942_.glif</string>
	<key>uni0926094D0930094D092F</key>
	<string>uni0926094D0930094D092F_.glif</string>
	<key>uni0926094D09350941</key>
	<string>uni0926094D09350941_.glif</string>
	<key>uni0926094D09350942</key>
	<string>uni0926094D09350942_.glif</string>
	<key>uni0926094D0935094D092F</key>
	<string>uni0926094D0935094D092F_.glif</string>
	<key>uni0926094D0943</key>
	<string>uni0926094D0943_.glif</string>
	<key>uni0927094D0930094D</key>
	<string>uni0927094D0930094D_.glif</string>
	<key>uni0928094D0928094D</key>
	<string>uni0928094D0928094D_.glif</string>
	<key>uni092B094D</key>
	<string>uni092B094D_.glif</string>
	<key>uni092B094D0930</key>
	<string>uni092B094D0930_.glif</string>
	<key>uni092C094D</key>
	<string>uni092C094D_.glif</string>
	<key>uni092C094D0930</key>
	<string>uni092C094D0930_.glif</string>
	<key>uni092D094D0928094D</key>
	<string>uni092D094D0928094D_.glif</string>
	<key>uni092D094D0930094D</key>
	<string>uni092D094D0930094D_.glif</string>
	<key>uni092E094D0928094D</key>
	<string>uni092E094D0928094D_.glif</string>
	<key>uni092E094D0930094D</key>
	<string>uni092E094D0930094D_.glif</string>
	<key>uni092F.post</key>
	<string>uni092F_.post.glif</string>
	<key>uni092F094D</key>
	<string>uni092F094D_.glif</string>
	<key>uni092F094D0928094D</key>
	<string>uni092F094D0928094D_.glif</string>
	<key>uni092F094D0930</key>
	<string>uni092F094D0930_.glif</string>
	<key>uni092F094D0930094D</key>
	<string>uni092F094D0930094D_.glif</string>
	<key>uni0932.loclMAR</key>
	<string>uni0932.loclMAR_.glif</string>
	<key>uni0932094D</key>
	<string>uni0932094D_.glif</string>
	<key>uni0932094D0930</key>
	<string>uni0932094D0930_.glif</string>
	<key>uni0935094D0928094D</key>
	<string>uni0935094D0928094D_.glif</string>
	<key>uni0935094D0930094D</key>
	<string>uni0935094D0930094D_.glif</string>
	<key>uni0936094D0930094D</key>
	<string>uni0936094D0930094D_.glif</string>
	<key>uni0937094D091F094D092F</key>
	<string>uni0937094D091F094D092F_.glif</string>
	<key>uni0937094D091F094D0935</key>
	<string>uni0937094D091F094D0935_.glif</string>
	<key>uni0937094D0920094D092F</key>
	<string>uni0937094D0920094D092F_.glif</string>
	<key>uni0937094D0920094D0935</key>
	<string>uni0937094D0920094D0935_.glif</string>
	<key>uni0938094D0924094D0930</key>
	<string>uni0938094D0924094D0930_.glif</string>
	<key>uni0939094D092F</key>
	<string>uni0939094D092F_.glif</string>
	<key>uni0939094D0932</key>
	<string>uni0939094D0932_.glif</string>
	<key>uni093A</key>
	<string>uni093A_.glif</string>
	<key>uni093B</key>
	<string>uni093B_.glif</string>
	<key>uni093F.0</key>
	<string>uni093F_.0.glif</string>
	<key>uni093F.01</key>
	<string>uni093F_.01.glif</string>
	<key>uni093F.02</key>
	<string>uni093F_.02.glif</string>
	<key>uni093F.03</key>
	<string>uni093F_.03.glif</string>
	<key>uni093F.05</key>
	<string>uni093F_.05.glif</string>
	<key>uni093F.08</key>
	<string>uni093F_.08.glif</string>
	<key>uni093F.10</key>
	<string>uni093F_.10.glif</string>
	<key>uni093F.15</key>
	<string>uni093F_.15.glif</string>
	<key>uni093F.20</key>
	<string>uni093F_.20.glif</string>
	<key>uni093F.25</key>
	<string>uni093F_.25.glif</string>
	<key>uni093F.30</key>
	<string>uni093F_.30.glif</string>
	<key>uni093F0930094D</key>
	<string>uni093F0930094D_.glif</string>
	<key>uni093F0930094D.0</key>
	<string>uni093F0930094D_.0.glif</string>
	<key>uni093F0930094D.01</key>
	<string>uni093F0930094D_.01.glif</string>
	<key>uni093F0930094D.02</key>
	<string>uni093F0930094D_.02.glif</string>
	<key>uni093F0930094D.03</key>
	<string>uni093F0930094D_.03.glif</string>
	<key>uni093F0930094D.05</key>
	<string>uni093F0930094D_.05.glif</string>
	<key>uni093F0930094D.08</key>
	<string>uni093F0930094D_.08.glif</string>
	<key>uni093F0930094D.10</key>
	<string>uni093F0930094D_.10.glif</string>
	<key>uni093F0930094D.15</key>
	<string>uni093F0930094D_.15.glif</string>
	<key>uni093F0930094D.20</key>
	<string>uni093F0930094D_.20.glif</string>
	<key>uni093F0930094D.25</key>
	<string>uni093F0930094D_.25.glif</string>
	<key>uni093F0930094D.30</key>
	<string>uni093F0930094D_.30.glif</string>
	<key>uni093F0930094D0902</key>
	<string>uni093F0930094D0902_.glif</string>
	<key>uni093F0930094D0902.0</key>
	<string>uni093F0930094D0902_.0.glif</string>
	<key>uni093F0930094D0902.01</key>
	<string>uni093F0930094D0902_.01.glif</string>
	<key>uni093F0930094D0902.02</key>
	<string>uni093F0930094D0902_.02.glif</string>
	<key>uni093F0930094D0902.03</key>
	<string>uni093F0930094D0902_.03.glif</string>
	<key>uni093F0930094D0902.05</key>
	<string>uni093F0930094D0902_.05.glif</string>
	<key>uni093F0930094D0902.08</key>
	<string>uni093F0930094D0902_.08.glif</string>
	<key>uni093F0930094D0902.10</key>
	<string>uni093F0930094D0902_.10.glif</string>
	<key>uni093F0930094D0902.15</key>
	<string>uni093F0930094D0902_.15.glif</string>
	<key>uni093F0930094D0902.20</key>
	<string>uni093F0930094D0902_.20.glif</string>
	<key>uni093F0930094D0902.25</key>
	<string>uni093F0930094D0902_.25.glif</string>
	<key>uni093F0930094D0902.30</key>
	<string>uni093F0930094D0902_.30.glif</string>
	<key>uni0940.02</key>
	<string>uni0940.02.glif</string>
	<key>uni09470930094D</key>
	<string>uni09470930094D_.glif</string>
	<key>uni09470930094D0902</key>
	<string>uni09470930094D0902_.glif</string>
	<key>uni09480930094D</key>
	<string>uni09480930094D_.glif</string>
	<key>uni09480930094D0902</key>
	<string>uni09480930094D0902_.glif</string>
	<key>uni094A</key>
	<string>uni094A_.glif</string>
	<key>uni094C</key>
	<string>uni094C_.glif</string>
	<key>uni094C0902</key>
	<string>uni094C0902_.glif</string>
	<key>uni094D09300941</key>
	<string>uni094D09300941_.glif</string>
	<key>uni094D09300942</key>
	<string>uni094D09300942_.glif</string>
	<key>uni094E</key>
	<string>uni094E_.glif</string>
	<key>uni094F</key>
	<string>uni094F_.glif</string>
	<key>uni0956</key>
	<string>uni0956.glif</string>
	<key>uni0957</key>
	<string>uni0957.glif</string>
	<key>uni0972</key>
	<string>uni0972.glif</string>
	<key>uni0973</key>
	<string>uni0973.glif</string>
	<key>uni0974</key>
	<string>uni0974.glif</string>
	<key>uni0975</key>
	<string>uni0975.glif</string>
	<key>uni0976</key>
	<string>uni0976.glif</string>
	<key>uni0977</key>
	<string>uni0977.glif</string>
	<key>uni0979</key>
	<string>uni0979.glif</string>
	<key>uni0979.loclNEP</key>
	<string>uni0979.loclNEP_.glif</string>
	<key>uni097A</key>
	<string>uni097A_.glif</string>
	<key>uni097B</key>
	<string>uni097B_.glif</string>
	<key>uni097C</key>
	<string>uni097C_.glif</string>
	<key>uni097D</key>
	<string>uni097D_.glif</string>
	<key>uni097E</key>
	<string>uni097E_.glif</string>
	<key>uni097F</key>
	<string>uni097F_.glif</string>
	<key>uni20A8</key>
	<string>uni20A8_.glif</string>
	<key>uni2113</key>
	<string>uni2113.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>vadeva_viramadeva</key>
	<string>vadeva_viramadeva.glif</string>
	<key>vadeva_viramadeva_radeva</key>
	<string>vadeva_viramadeva_radeva.glif</string>
	<key>viramadeva</key>
	<string>viramadeva.glif</string>
	<key>viramadeva_radeva</key>
	<string>viramadeva_radeva.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>yyadeva</key>
	<string>yyadeva.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zadeva</key>
	<string>zadeva.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
