<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>AE_.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>Abreve</key>
	<string>Abreve_.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex_.glif</string>
	<key>Adieresis</key>
	<string>Adieresis_.glif</string>
	<key>Agrave</key>
	<string>Agrave_.glif</string>
	<key>Amacron</key>
	<string>Amacron_.glif</string>
	<key>Aogonek</key>
	<string>Aogonek_.glif</string>
	<key>Aring</key>
	<string>Aring_.glif</string>
	<key>Atilde</key>
	<string>Atilde_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Cacute</key>
	<string>Cacute_.glif</string>
	<key>Ccaron</key>
	<string>Ccaron_.glif</string>
	<key>Ccedilla</key>
	<string>Ccedilla_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>Dcaron_.glif</string>
	<key>Dcroat</key>
	<string>Dcroat_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>Eacute_.glif</string>
	<key>Ecaron</key>
	<string>Ecaron_.glif</string>
	<key>Ecircumflex</key>
	<string>Ecircumflex_.glif</string>
	<key>Edieresis</key>
	<string>Edieresis_.glif</string>
	<key>Edotaccent</key>
	<string>Edotaccent_.glif</string>
	<key>Egrave</key>
	<string>Egrave_.glif</string>
	<key>Emacron</key>
	<string>Emacron_.glif</string>
	<key>Eogonek</key>
	<string>Eogonek_.glif</string>
	<key>Eth</key>
	<string>Eth_.glif</string>
	<key>Euro</key>
	<string>Euro_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gbreve</key>
	<string>Gbreve_.glif</string>
	<key>Gcommaaccent</key>
	<string>Gcommaaccent_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>Iacute_.glif</string>
	<key>Icircumflex</key>
	<string>Icircumflex_.glif</string>
	<key>Idieresis</key>
	<string>Idieresis_.glif</string>
	<key>Idotaccent</key>
	<string>Idotaccent_.glif</string>
	<key>Igrave</key>
	<string>Igrave_.glif</string>
	<key>Imacron</key>
	<string>Imacron_.glif</string>
	<key>Iogonek</key>
	<string>Iogonek_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kcommaaccent</key>
	<string>Kcommaaccent_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>Lacute_.glif</string>
	<key>Lcaron</key>
	<string>Lcaron_.glif</string>
	<key>Lcaron.add_1</key>
	<string>Lcaron_.add_1.glif</string>
	<key>Lcommaaccent</key>
	<string>Lcommaaccent_.glif</string>
	<key>Lslash</key>
	<string>Lslash_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Nacute</key>
	<string>Nacute_.glif</string>
	<key>Ncaron</key>
	<string>Ncaron_.glif</string>
	<key>Ncommaaccent</key>
	<string>Ncommaaccent_.glif</string>
	<key>Ntilde</key>
	<string>Ntilde_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>OE_.glif</string>
	<key>Oacute</key>
	<string>Oacute_.glif</string>
	<key>Ocircumflex</key>
	<string>Ocircumflex_.glif</string>
	<key>Odieresis</key>
	<string>Odieresis_.glif</string>
	<key>Ograve</key>
	<string>Ograve_.glif</string>
	<key>Ohungarumlaut</key>
	<string>Ohungarumlaut_.glif</string>
	<key>Ohungarumlaut.add_1</key>
	<string>Ohungarumlaut_.add_1.glif</string>
	<key>Omacron</key>
	<string>Omacron_.glif</string>
	<key>Oslash</key>
	<string>Oslash_.glif</string>
	<key>Otilde</key>
	<string>Otilde_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>Racute_.glif</string>
	<key>Rcaron</key>
	<string>Rcaron_.glif</string>
	<key>Rcommaaccent</key>
	<string>Rcommaaccent_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>Sacute_.glif</string>
	<key>Scaron</key>
	<string>Scaron_.glif</string>
	<key>Scedilla</key>
	<string>Scedilla_.glif</string>
	<key>Scommaaccent</key>
	<string>Scommaaccent_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tcaron</key>
	<string>Tcaron_.glif</string>
	<key>Tcedilla</key>
	<string>Tcedilla_.glif</string>
	<key>Tcommaaccent</key>
	<string>Tcommaaccent_.glif</string>
	<key>Thorn</key>
	<string>Thorn_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>Uacute_.glif</string>
	<key>Ucircumflex</key>
	<string>Ucircumflex_.glif</string>
	<key>Udieresis</key>
	<string>Udieresis_.glif</string>
	<key>Ugrave</key>
	<string>Ugrave_.glif</string>
	<key>Uhungarumlaut</key>
	<string>Uhungarumlaut_.glif</string>
	<key>Umacron</key>
	<string>Umacron_.glif</string>
	<key>Uogonek</key>
	<string>Uogonek_.glif</string>
	<key>Uring</key>
	<string>Uring_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Yacute_.glif</string>
	<key>Ydieresis</key>
	<string>Ydieresis_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Zacute_.glif</string>
	<key>Zcaron</key>
	<string>Zcaron_.glif</string>
	<key>Zdotaccent</key>
	<string>Zdotaccent_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>apostrophemod</key>
	<string>apostrophemod.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>bulletoperator</key>
	<string>bulletoperator.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaaccent</key>
	<string>commaaccent.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>danda</key>
	<string>danda.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>deltamath</key>
	<string>deltamath.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>divisionslash</key>
	<string>divisionslash.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>doubledanda</key>
	<string>doubledanda.glif</string>
	<key>dvA</key>
	<string>dvA_.glif</string>
	<key>dvAA</key>
	<string>dvAA_.glif</string>
	<key>dvAI</key>
	<string>dvA_I_.glif</string>
	<key>dvAU</key>
	<string>dvAU_.glif</string>
	<key>dvAnusvara</key>
	<string>dvAnusvara_.glif</string>
	<key>dvB</key>
	<string>dvB_.glif</string>
	<key>dvBA</key>
	<string>dvB_A_.glif</string>
	<key>dvBH</key>
	<string>dvB_H_.glif</string>
	<key>dvBHA</key>
	<string>dvB_H_A_.glif</string>
	<key>dvBH_RA</key>
	<string>dvB_H__R_A_.glif</string>
	<key>dvB_RA</key>
	<string>dvB__R_A_.glif</string>
	<key>dvC</key>
	<string>dvC_.glif</string>
	<key>dvCA</key>
	<string>dvC_A_.glif</string>
	<key>dvCH</key>
	<string>dvC_H_.glif</string>
	<key>dvCHA</key>
	<string>dvC_H_A_.glif</string>
	<key>dvCH_RA</key>
	<string>dvC_H__R_A_.glif</string>
	<key>dvC_RA</key>
	<string>dvC__R_A_.glif</string>
	<key>dvCandrabindu</key>
	<string>dvCandrabindu_.glif</string>
	<key>dvDA</key>
	<string>dvD_A_.glif</string>
	<key>dvDDA</key>
	<string>dvD_D_A_.glif</string>
	<key>dvDDHA</key>
	<string>dvD_D_H_A_.glif</string>
	<key>dvDDH_RA</key>
	<string>dvD_D_H__R_A_.glif</string>
	<key>dvDD_DDA</key>
	<string>dvD_D__D_D_A_.glif</string>
	<key>dvDD_RA</key>
	<string>dvD_D__R_A_.glif</string>
	<key>dvDH</key>
	<string>dvD_H_.glif</string>
	<key>dvDHA</key>
	<string>dvD_H_A_.glif</string>
	<key>dvDH_RA</key>
	<string>dvD_H__R_A_.glif</string>
	<key>dvD_RA</key>
	<string>dvD__R_A_.glif</string>
	<key>dvE</key>
	<string>dvE_.glif</string>
	<key>dvEcandra</key>
	<string>dvE_candra.glif</string>
	<key>dvEight</key>
	<string>dvE_ight.glif</string>
	<key>dvFive</key>
	<string>dvF_ive.glif</string>
	<key>dvG</key>
	<string>dvG_.glif</string>
	<key>dvGA</key>
	<string>dvG_A_.glif</string>
	<key>dvGH</key>
	<string>dvG_H_.glif</string>
	<key>dvGHA</key>
	<string>dvG_H_A_.glif</string>
	<key>dvGH_RA</key>
	<string>dvG_H__R_A_.glif</string>
	<key>dvG_RA</key>
	<string>dvG__R_A_.glif</string>
	<key>dvHA</key>
	<string>dvH_A_.glif</string>
	<key>dvI</key>
	<string>dvI_.glif</string>
	<key>dvII</key>
	<string>dvI_I_.glif</string>
	<key>dvJ</key>
	<string>dvJ_.glif</string>
	<key>dvJA</key>
	<string>dvJ_A_.glif</string>
	<key>dvJH</key>
	<string>dvJ_H_.glif</string>
	<key>dvJHA</key>
	<string>dvJ_H_A_.glif</string>
	<key>dvJH_RA</key>
	<string>dvJ_H__R_A_.glif</string>
	<key>dvJ_NY</key>
	<string>dvJ__N_Y_.glif</string>
	<key>dvJ_NYA</key>
	<string>dvJ__N_Y_A_.glif</string>
	<key>dvJ_RA</key>
	<string>dvJ__R_A_.glif</string>
	<key>dvK</key>
	<string>dvK_.glif</string>
	<key>dvKA</key>
	<string>dvK_A_.glif</string>
	<key>dvKH</key>
	<string>dvK_H_.glif</string>
	<key>dvKHA</key>
	<string>dvK_H_A_.glif</string>
	<key>dvKH_R</key>
	<string>dvK_H__R_.glif</string>
	<key>dvKH_RA</key>
	<string>dvK_H__R_A_.glif</string>
	<key>dvK_R</key>
	<string>dvK__R_.glif</string>
	<key>dvK_RA</key>
	<string>dvK__R_A_.glif</string>
	<key>dvK_SSA</key>
	<string>dvK__S_S_A_.glif</string>
	<key>dvK_TA</key>
	<string>dvK__T_A_.glif</string>
	<key>dvL</key>
	<string>dvL_.glif</string>
	<key>dvLA</key>
	<string>dvL_A_.glif</string>
	<key>dvLL</key>
	<string>dvL_L_.glif</string>
	<key>dvLLA</key>
	<string>dvL_L_A_.glif</string>
	<key>dvM</key>
	<string>dvM_.glif</string>
	<key>dvMA</key>
	<string>dvM_A_.glif</string>
	<key>dvM_RA</key>
	<string>dvM__R_A_.glif</string>
	<key>dvN</key>
	<string>dvN_.glif</string>
	<key>dvNA</key>
	<string>dvN_A_.glif</string>
	<key>dvNGA</key>
	<string>dvN_G_A_.glif</string>
	<key>dvNG_RA</key>
	<string>dvN_G__R_A_.glif</string>
	<key>dvNN</key>
	<string>dvN_N_.glif</string>
	<key>dvNNA</key>
	<string>dvN_N_A_.glif</string>
	<key>dvNN_RA</key>
	<string>dvN_N__R_A_.glif</string>
	<key>dvNY</key>
	<string>dvN_Y_.glif</string>
	<key>dvNYA</key>
	<string>dvN_Y_A_.glif</string>
	<key>dvNY_RA</key>
	<string>dvN_Y__R_A_.glif</string>
	<key>dvNine</key>
	<string>dvN_ine.glif</string>
	<key>dvNukta</key>
	<string>dvN_ukta.glif</string>
	<key>dvO</key>
	<string>dvO_.glif</string>
	<key>dvOcandra</key>
	<string>dvO_candra.glif</string>
	<key>dvOne</key>
	<string>dvO_ne.glif</string>
	<key>dvP</key>
	<string>dvP_.glif</string>
	<key>dvPA</key>
	<string>dvP_A_.glif</string>
	<key>dvPH</key>
	<string>dvP_H_.glif</string>
	<key>dvPHA</key>
	<string>dvP_H_A_.glif</string>
	<key>dvPH_RA</key>
	<string>dvP_H__R_A_.glif</string>
	<key>dvP_RA</key>
	<string>dvP__R_A_.glif</string>
	<key>dvRA</key>
	<string>dvR_A_.glif</string>
	<key>dvReph</key>
	<string>dvR_eph.glif</string>
	<key>dvS</key>
	<string>dvS_.glif</string>
	<key>dvSA</key>
	<string>dvS_A_.glif</string>
	<key>dvSH</key>
	<string>dvS_H_.glif</string>
	<key>dvSHA</key>
	<string>dvS_H_A_.glif</string>
	<key>dvSS</key>
	<string>dvS_S_.glif</string>
	<key>dvSSA</key>
	<string>dvS_S_A_.glif</string>
	<key>dvSeven</key>
	<string>dvS_even.glif</string>
	<key>dvSix</key>
	<string>dvS_ix.glif</string>
	<key>dvT</key>
	<string>dvT_.glif</string>
	<key>dvTA</key>
	<string>dvT_A_.glif</string>
	<key>dvTH</key>
	<string>dvT_H_.glif</string>
	<key>dvTHA</key>
	<string>dvT_H_A_.glif</string>
	<key>dvTH_RA</key>
	<string>dvT_H__R_A_.glif</string>
	<key>dvTTA</key>
	<string>dvT_T_A_.glif</string>
	<key>dvTTHA</key>
	<string>dvT_T_H_A_.glif</string>
	<key>dvTTH_RA</key>
	<string>dvT_T_H__R_A_.glif</string>
	<key>dvTTH_TTHA</key>
	<string>dvT_T_H__T_T_H_A_.glif</string>
	<key>dvTT_RA</key>
	<string>dvT_T__R_A_.glif</string>
	<key>dvTT_TTA</key>
	<string>dvT_T__T_T_A_.glif</string>
	<key>dvTT_TTHA</key>
	<string>dvT_T__T_T_H_A_.glif</string>
	<key>dvTT_VA</key>
	<string>dvT_T__V_A_.glif</string>
	<key>dvThree</key>
	<string>dvT_hree.glif</string>
	<key>dvTwo</key>
	<string>dvT_wo.glif</string>
	<key>dvU</key>
	<string>dvU_.glif</string>
	<key>dvUU</key>
	<string>dvU_U_.glif</string>
	<key>dvV</key>
	<string>dvV_.glif</string>
	<key>dvVA</key>
	<string>dvV_A_.glif</string>
	<key>dvV_RA</key>
	<string>dvV__R_A_.glif</string>
	<key>dvVisarga</key>
	<string>dvVisarga_.glif</string>
	<key>dvY</key>
	<string>dvY_.glif</string>
	<key>dvYA</key>
	<string>dvY_A_.glif</string>
	<key>dvY_RA</key>
	<string>dvY__R_A_.glif</string>
	<key>dvZero</key>
	<string>dvZ_ero.glif</string>
	<key>dvmAA</key>
	<string>dvmA_A_.glif</string>
	<key>dvmAI</key>
	<string>dvmA_I_.glif</string>
	<key>dvmAU</key>
	<string>dvmAU_.glif</string>
	<key>dvmE</key>
	<string>dvmE_.glif</string>
	<key>dvmEcandra</key>
	<string>dvmE_candra.glif</string>
	<key>dvmI</key>
	<string>dvmI_.glif</string>
	<key>dvmII</key>
	<string>dvmI_I_.glif</string>
	<key>dvmO</key>
	<string>dvmO_.glif</string>
	<key>dvmOcandra</key>
	<string>dvmOcandra_.glif</string>
	<key>dvmU</key>
	<string>dvmU_.glif</string>
	<key>dvmUU</key>
	<string>dvmU_U_.glif</string>
	<key>dvmvR</key>
	<string>dvmvR_.glif</string>
	<key>dvvL</key>
	<string>dvvL_.glif</string>
	<key>dvvLL</key>
	<string>dvvL_L_.glif</string>
	<key>dvvR</key>
	<string>dvvR_.glif</string>
	<key>dvvRR</key>
	<string>dvvR_R_.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>fourdeva</key>
	<string>fourdeva.glif</string>
	<key>foursuperior</key>
	<string>foursuperior.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gcommaaccent</key>
	<string>gcommaaccent.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>lcaron.add_1</key>
	<string>lcaron.add_1.glif</string>
	<key>lcommaaccent</key>
	<string>lcommaaccent.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>litre</key>
	<string>litre.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>logo</key>
	<string>logo.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>macronmod</key>
	<string>macronmod.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>mumath</key>
	<string>mumath.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>nullsuperior</key>
	<string>nullsuperior.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>ohungarumlaut.add_1</key>
	<string>ohungarumlaut.add_1.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>omegamath</key>
	<string>omegamath.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quoteright.add_1</key>
	<string>quoteright.add_1.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ruble</key>
	<string>ruble.glif</string>
	<key>rupee</key>
	<string>rupee.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>scommaaccent</key>
	<string>scommaaccent.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>softhyphen</key>
	<string>softhyphen.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>tcedilla</key>
	<string>tcedilla.glif</string>
	<key>tcommaaccent</key>
	<string>tcommaaccent.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>turkishlira</key>
	<string>turkishlira.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
