<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>Aacute</string>
		<string>Amacron</string>
		<string>Agrave</string>
		<string>Atilde</string>
		<string>Acircumflex</string>
		<string>Abreve</string>
		<string>Aogonek</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccaron</string>
	</array>
	<key>@MMK_L_D</key>
	<array>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>D</string>
		<string>Dcroat</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>Ecaron</string>
		<string>Egrave</string>
		<string>Eogonek</string>
		<string>AE</string>
		<string>OE</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>E</string>
		<string>Edotaccent</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>Gbreve</string>
		<string>G</string>
		<string>Gcommaaccent</string>
	</array>
	<key>@MMK_L_I</key>
	<array>
		<string>Iacute</string>
		<string>Iogonek</string>
		<string>I</string>
		<string>H</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Icircumflex</string>
		<string>Imacron</string>
		<string>Idieresis</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>Lslash</string>
		<string>Lcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
	</array>
	<key>@MMK_L_N</key>
	<array>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>Nacute</string>
		<string>Ncommaaccent</string>
		<string>N</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>Oslash</string>
		<string>Omacron</string>
		<string>Odieresis</string>
		<string>Ohungarumlaut</string>
		<string>Ograve</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>O</string>
		<string>Q</string>
		<string>Oacute</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>Racute</string>
		<string>Rcommaaccent</string>
		<string>R</string>
		<string>Rcaron</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>Sacute</string>
		<string>S</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>Scaron</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>Tcommaaccent</string>
		<string>T</string>
		<string>Tcedilla</string>
		<string>Tcaron</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>Udieresis</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uacute</string>
		<string>Uring</string>
		<string>Ugrave</string>
		<string>Uogonek</string>
		<string>Ucircumflex</string>
		<string>U</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Ydieresis</string>
		<string>Yacute</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Zacute</string>
		<string>Z</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>aring</string>
		<string>adieresis</string>
		<string>aacute</string>
		<string>amacron</string>
		<string>agrave</string>
		<string>atilde</string>
		<string>acircumflex</string>
		<string>abreve</string>
		<string>aogonek</string>
	</array>
	<key>@MMK_L_b</key>
	<array>
		<string>p</string>
		<string>thorn</string>
		<string>b</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>cacute</string>
		<string>ccaron</string>
	</array>
	<key>@MMK_L_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_d</key>
	<array>
		<string>dcaron</string>
		<string>d</string>
		<string>dcroat</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>ecaron</string>
		<string>egrave</string>
		<string>eogonek</string>
		<string>ae</string>
		<string>oe</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>eacute</string>
		<string>e</string>
		<string>edotaccent</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>gbreve</string>
		<string>g</string>
		<string>gcommaaccent</string>
	</array>
	<key>@MMK_L_guilsinglleft</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_L_hyphen</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>softhyphen</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>iacute</string>
		<string>iogonek</string>
		<string>i</string>
		<string>igrave</string>
		<string>icircumflex</string>
		<string>imacron</string>
		<string>fi</string>
		<string>dotlessi</string>
		<string>idieresis</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lslash</string>
		<string>lcommaaccent</string>
		<string>fl</string>
		<string>l</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>ntilde</string>
		<string>nacute</string>
		<string>ncommaaccent</string>
		<string>ncaron</string>
		<string>h</string>
		<string>m</string>
		<string>n</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>oslash</string>
		<string>omacron</string>
		<string>odieresis</string>
		<string>ohungarumlaut</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>o</string>
		<string>oacute</string>
	</array>
	<key>@MMK_L_period</key>
	<array>
		<string>ellipsis</string>
		<string>comma</string>
		<string>period</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_L_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_L_quoteright</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@MMK_L_quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>racute</string>
		<string>rcommaaccent</string>
		<string>r</string>
		<string>rcaron</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scommaaccent</string>
		<string>scaron</string>
		<string>scedilla</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>tcommaaccent</string>
		<string>t</string>
		<string>tcedilla</string>
		<string>tcaron</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>udieresis</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uacute</string>
		<string>uring</string>
		<string>ugrave</string>
		<string>uogonek</string>
		<string>ucircumflex</string>
		<string>u</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
		<string>ydieresis</string>
		<string>yacute</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>zacute</string>
		<string>z</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>Aacute</string>
		<string>Amacron</string>
		<string>Agrave</string>
		<string>Atilde</string>
		<string>Acircumflex</string>
		<string>Abreve</string>
		<string>Aogonek</string>
	</array>
	<key>@MMK_R_I</key>
	<array>
		<string>Racute</string>
		<string>Egrave</string>
		<string>Eogonek</string>
		<string>Kcommaaccent</string>
		<string>Dcaron</string>
		<string>Ntilde</string>
		<string>Lacute</string>
		<string>Lslash</string>
		<string>F</string>
		<string>Ecircumflex</string>
		<string>Iacute</string>
		<string>Lcaron</string>
		<string>Icircumflex</string>
		<string>I</string>
		<string>Emacron</string>
		<string>Dcroat</string>
		<string>Eacute</string>
		<string>K</string>
		<string>Ecaron</string>
		<string>B</string>
		<string>E</string>
		<string>D</string>
		<string>Iogonek</string>
		<string>Imacron</string>
		<string>Rcommaaccent</string>
		<string>Thorn</string>
		<string>L</string>
		<string>N</string>
		<string>P</string>
		<string>R</string>
		<string>Ncommaaccent</string>
		<string>Ncaron</string>
		<string>Eth</string>
		<string>Idieresis</string>
		<string>Nacute</string>
		<string>Idotaccent</string>
		<string>Lcommaaccent</string>
		<string>Rcaron</string>
		<string>Igrave</string>
		<string>Edieresis</string>
		<string>H</string>
		<string>Edotaccent</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>Oslash</string>
		<string>C</string>
		<string>G</string>
		<string>Omacron</string>
		<string>Ccaron</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>O</string>
		<string>Gcommaaccent</string>
		<string>Oacute</string>
		<string>Gbreve</string>
		<string>Odieresis</string>
		<string>Ohungarumlaut</string>
		<string>Ograve</string>
		<string>OE</string>
		<string>Cacute</string>
		<string>Ccedilla</string>
		<string>Ocircumflex</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>Sacute</string>
		<string>S</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>Scaron</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>Tcommaaccent</string>
		<string>T</string>
		<string>Tcedilla</string>
		<string>Tcaron</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>Udieresis</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uacute</string>
		<string>Uring</string>
		<string>Ugrave</string>
		<string>Uogonek</string>
		<string>Ucircumflex</string>
		<string>U</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Ydieresis</string>
		<string>Yacute</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Zacute</string>
		<string>Z</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aring</string>
		<string>ae</string>
		<string>aacute</string>
		<string>amacron</string>
		<string>agrave</string>
		<string>atilde</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>abreve</string>
		<string>aogonek</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_d</key>
	<array>
		<string>q</string>
		<string>dcaron</string>
		<string>d</string>
		<string>dcroat</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>fi</string>
		<string>fl</string>
		<string>f</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>gbreve</string>
		<string>g</string>
		<string>gcommaaccent</string>
	</array>
	<key>@MMK_R_guilsinglleft</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_R_h</key>
	<array>
		<string>kcommaaccent</string>
		<string>b</string>
		<string>germandbls</string>
		<string>h</string>
		<string>k</string>
		<string>thorn</string>
	</array>
	<key>@MMK_R_hyphen</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>softhyphen</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>iacute</string>
		<string>iogonek</string>
		<string>i</string>
		<string>igrave</string>
		<string>icircumflex</string>
		<string>imacron</string>
		<string>dotlessi</string>
		<string>idieresis</string>
	</array>
	<key>@MMK_R_l</key>
	<array>
		<string>lslash</string>
		<string>lcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>racute</string>
		<string>nacute</string>
		<string>rcommaaccent</string>
		<string>m</string>
		<string>rcaron</string>
		<string>n</string>
		<string>ntilde</string>
		<string>r</string>
		<string>ncommaaccent</string>
		<string>ncaron</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>odieresis</string>
		<string>ohungarumlaut</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>cacute</string>
		<string>omacron</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>o</string>
		<string>eacute</string>
		<string>ccedilla</string>
		<string>edotaccent</string>
		<string>oslash</string>
		<string>egrave</string>
		<string>eogonek</string>
		<string>e</string>
		<string>c</string>
		<string>oe</string>
		<string>otilde</string>
		<string>ccaron</string>
		<string>oacute</string>
	</array>
	<key>@MMK_R_period</key>
	<array>
		<string>ellipsis</string>
		<string>comma</string>
		<string>period</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_R_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_R_quoteright</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@MMK_R_quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scommaaccent</string>
		<string>scaron</string>
		<string>scedilla</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>tcommaaccent</string>
		<string>t</string>
		<string>tcedilla</string>
		<string>tcaron</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>udieresis</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uacute</string>
		<string>uring</string>
		<string>ugrave</string>
		<string>uogonek</string>
		<string>ucircumflex</string>
		<string>u</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y</string>
		<string>ydieresis</string>
		<string>yacute</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>zacute</string>
		<string>z</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
</dict>
</plist>
