<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>danda</key>
	<string>danda.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>doubledanda</key>
	<string>doubledanda.glif</string>
	<key>dvA</key>
	<string>dvA_.glif</string>
	<key>dvAA</key>
	<string>dvAA_.glif</string>
	<key>dvAI</key>
	<string>dvA_I_.glif</string>
	<key>dvBA</key>
	<string>dvB_A_.glif</string>
	<key>dvBHA</key>
	<string>dvB_H_A_.glif</string>
	<key>dvCA</key>
	<string>dvC_A_.glif</string>
	<key>dvCHA</key>
	<string>dvC_H_A_.glif</string>
	<key>dvDA</key>
	<string>dvD_A_.glif</string>
	<key>dvDDA</key>
	<string>dvD_D_A_.glif</string>
	<key>dvDDHA</key>
	<string>dvD_D_H_A_.glif</string>
	<key>dvDHA</key>
	<string>dvD_H_A_.glif</string>
	<key>dvE</key>
	<string>dvE_.glif</string>
	<key>dvEight</key>
	<string>dvE_ight.glif</string>
	<key>dvFive</key>
	<string>dvF_ive.glif</string>
	<key>dvGA</key>
	<string>dvG_A_.glif</string>
	<key>dvGHA</key>
	<string>dvG_H_A_.glif</string>
	<key>dvHA</key>
	<string>dvH_A_.glif</string>
	<key>dvI</key>
	<string>dvI_.glif</string>
	<key>dvII</key>
	<string>dvI_I_.glif</string>
	<key>dvJA</key>
	<string>dvJ_A_.glif</string>
	<key>dvJHA</key>
	<string>dvJ_H_A_.glif</string>
	<key>dvKA</key>
	<string>dvK_A_.glif</string>
	<key>dvKHA</key>
	<string>dvK_H_A_.glif</string>
	<key>dvLA</key>
	<string>dvL_A_.glif</string>
	<key>dvLLA</key>
	<string>dvL_L_A_.glif</string>
	<key>dvMA</key>
	<string>dvM_A_.glif</string>
	<key>dvNA</key>
	<string>dvN_A_.glif</string>
	<key>dvNGA</key>
	<string>dvN_G_A_.glif</string>
	<key>dvNNA</key>
	<string>dvN_N_A_.glif</string>
	<key>dvNYA</key>
	<string>dvN_Y_A_.glif</string>
	<key>dvNine</key>
	<string>dvN_ine.glif</string>
	<key>dvNukta</key>
	<string>dvN_ukta.glif</string>
	<key>dvO</key>
	<string>dvO_.glif</string>
	<key>dvOne</key>
	<string>dvO_ne.glif</string>
	<key>dvPA</key>
	<string>dvP_A_.glif</string>
	<key>dvPHA</key>
	<string>dvP_H_A_.glif</string>
	<key>dvRA</key>
	<string>dvR_A_.glif</string>
	<key>dvSA</key>
	<string>dvS_A_.glif</string>
	<key>dvSHA</key>
	<string>dvS_H_A_.glif</string>
	<key>dvSSA</key>
	<string>dvS_S_A_.glif</string>
	<key>dvSeven</key>
	<string>dvS_even.glif</string>
	<key>dvSix</key>
	<string>dvS_ix.glif</string>
	<key>dvTA</key>
	<string>dvT_A_.glif</string>
	<key>dvTHA</key>
	<string>dvT_H_A_.glif</string>
	<key>dvTTA</key>
	<string>dvT_T_A_.glif</string>
	<key>dvTTHA</key>
	<string>dvT_T_H_A_.glif</string>
	<key>dvThree</key>
	<string>dvT_hree.glif</string>
	<key>dvTwo</key>
	<string>dvT_wo.glif</string>
	<key>dvU</key>
	<string>dvU_.glif</string>
	<key>dvVA</key>
	<string>dvV_A_.glif</string>
	<key>dvVisarga</key>
	<string>dvVisarga_.glif</string>
	<key>dvYA</key>
	<string>dvY_A_.glif</string>
	<key>dvZero</key>
	<string>dvZ_ero.glif</string>
	<key>dvmAA</key>
	<string>dvmA_A_.glif</string>
	<key>dvvL</key>
	<string>dvvL_.glif</string>
	<key>dvvLL</key>
	<string>dvvL_L_.glif</string>
	<key>dvvR</key>
	<string>dvvR_.glif</string>
	<key>dvvRR</key>
	<string>dvvR_R_.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>fourdeva</key>
	<string>fourdeva.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
